<div class="container">
  <div class="content">
  <form (ngSubmit)="processForm()">
        <div class="form group">
            <label for="summary">Summary:</label>
            <input type="text" name="summary" class="form-control" [(ngModel)]="task.summary" required>
        </div>
        <div class="form group">
            <label for="dueDate">Due Date:</label>
            <input type="date" name="dueDate" class="form-control" [(ngModel)]="task.dueDate" required>
        </div>
        <div class="form group">
            <label for="description">Description:</label>
            <input type="text" name="description" class="form-control" [(ngModel)]="task.description">
        </div>
        <div class="form group hidden-status">
            <label for="status">Status:</label>
            <input type="text" name="status" class="form-control" [(ngModel)]="task.status">
            <!-- <select class="status form-control"  [(ngModel)]="task.status">
              <option>{{task.status}}</option>
              <option>Completed</option>
              <option>Pending</option>
              <option>In progress</option>
            </select> -->
        </div>
        <input type="submit" value="Save" class="btn btn-success">
        <button class="btn btn-danger cancelBtn">Cancel</button>
    </form>
    </div>
</div>
